@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************/




html{
    font-size: 16px;
}

body{
    background-color: #fcfcfc;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
}
#logo img{
    width: 60px;
    height: 20px;
}

/*barre de navigation*/

nav{
    display: flex;
    width: 25%;
}
.nav_hover{
    width: 100%;
    display: flex;
}
#nav_hebergement{
    width: 100%;
    height: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    border: solid;
    border-color: #fcfcfc;
    border-width: 2px;
}
#nav_activite{
    height: 100%;
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    border: solid;
    border-color: #fcfcfc;
    border-width: 2px;
}

/*hover de navigation*/

#nav_hebergement:hover{
    color: #0065fc;
    border-top: solid;
    border-width: 2px;
    font-weight: 500;
}
#nav_activite:hover{
    color: #0065fc;
    border-top: solid;
    border-width: 2px;
    font-weight: 500;
}

/*head*/
main{
    margin-top: 3.75rem;
    width: 90%;
    justify-content: center;
    align-items: center;
}
#tete{
    display: flex;
    flex-direction: column;
    width: 90%;
}
#h1 h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 26px;
    color: #000000;
}
#head_p{
    margin-top: 0.5rem;
}
#head_p p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
}


/*formulaire de recherche*/


form{
    margin-top: 1.25rem;
    height: 3.125rem;
    width: 100%;
    display: flex;
}
#localisation button{
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.2rem;
}
#barre_recherche input{
    width: 15rem;
    height: 3.125rem;
    border: 1px solid #F2F2F2;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
#bouton_recherche{
    width: 8rem;
    height: 3.125rem;
}
#bouton_recherche button{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 100%;
    height: 100%;
}
#bouton_recherche #txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
#bouton_recherche i{
    font-size: 1rem;
    color: #FFFFFF;
    display: none;
}

/*Filtres*/

#filtre{
    display: flex;
    margin-top: 2.875rem;
    height: 50px;
    width: 100%;
    align-items: center;
}
#filtre_h2{
    height: 100%;
    display: flex;
    align-items: center;
    width: 10%;
}
#filtre_bouton{
    width: 85%;
    display: flex;

}
#filtre_bouton li{
    width: 45%;
}
#filtre h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.filtre_mobile{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

/*bouton filtre */


#filtre_bouton ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
}
.filtre_input{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 20px;
    color: #000000;
}
.filtre_input i{
    font-size: 1.125em;
    color: #0065FC;
}
.filtre_i_placement{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.filtre_txt_placement{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/*hover filtre*/

#filtre li button:hover{
    background-color: #deebff;
}

/*Information*/

#information{
    display: flex;
    margin-top: 50px;
}
#information i{
    width: 24px;
    height: 24px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#information p{
    margin-left: 11px;
    margin-top: 3px;
    font-family:'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
}

/*Hebergement à Marseille*/

#maison{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
}
#hebergement_marseille{
    width: 65%;
    height: 40rem;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#titre_hebergement{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 26px;
    color: #000000;
    margin-left: 2.5rem;
}
#tableau_hebergement{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    justify-content: space-evenly;

}
#tableau_top{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#tableau_bot{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


/*Carte hebergement*/

.carte_hebergement{
    width: 25%;
    height: 12rem;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: #b9b9b9 0px 3px 15px;
    display: flex;
    border: 5px solid #FFFFFF;
}
.carte_hebergement a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.image_hebergement{
    height: 50%;
    display: flex;
    justify-content: center;
}
.image_hebergement img{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    object-position: center;
}
.referencement_hebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0.5rem;
    height: 50%;
    height: 75%;
}
.description_hebergement{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.description_hebergement h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
}
.description_hebergement p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 16px;
    color: #000000;
}
.etoile{
    width: 35%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.etoile i{
    display: flex;
    font-size: 12px;
    color: #0065FC;
    justify-content: center;
    align-items: center;   
}
.etoile_gris i{
    color: #F2F2F2;
}

/*Afficher plus*/

#afficher_plus a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 21px;
    margin-left: 2.5rem;
    color: #000000;
}

/*Les plus populaires*/

#plus_populaire{
    height: 40rem;
    width: 30%;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#header_populaire{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#titre_populaire{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 26px;
    color: #000000;
}
#logo_populaire{
    font-size: 18px;
    color: #0065FC;
}
#tableau_populaire{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}


/*carte populaire*/

.carte_populaire{
width: 95%;
height: 8.75rem;
background: #FFFFFF;
border: 5px solid #FFFFFF;
border-radius: 20px;
justify-content: space-evenly;
align-items: center;
box-shadow: #b9b9b9 0px 3px 15px;
}
.carte_populaire a{
    width: 100%;
    height: 8.7rem;
    display: flex;
    justify-content: space-between;
}
.image_populaire{
    height: 100%;
    width: 40%;
}
.image_populaire img{
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    object-position: center;
}
.referencement_populaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
}
.description_populaire{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.description_populaire h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    color: #000000; 
}
.description_populaire p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 16px;
    color: #000000;
}


/*Activité Marseille*/


#activite_marseille{
    margin-top: 3.75rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#titre_activite{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 26px;
    color: #000000;
}
#Marseille{
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: space-between;
}
#Marseille a{
    display: flex;
    width: 22%;
}


/*carte activité marseille*/


.activité{
width: 100%;
height: 100%;
background: #FFFFFF;
border-radius: 20px;
box-shadow: #b9b9b9 0px 3px 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.activité img{
width: 100%;
height: 90%;
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}
.activité h3{
width: 90%;
height: 10%;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 1em;
line-height: 19px;
color: #000000;
align-items: center;
display: flex;
}


/*footer*/


footer{
    background: #F2F2F2;
    height: 14rem;
    margin-top: 3rem;
    width: 90%;
}
#fin{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/*carte footer*/


.foot{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foot h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 21px;
    color: #000000;
}
.liens{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}
.liens a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
}




/*RESPONSIVE*/

/*Responsive Tablette*/


@media screen and (max-width: 992px) {
    

    #tete{
        width: 100%;
    }
    nav{
        width: 40%;
    }
    #filtre{
        width: 100%;
    }
    #filtre_bouton{
        width: 100%;
    }
    .filtre_input{
        width: 100%;
    }
    #maison{
        flex-direction: column;
    }

    #hebergement_marseille{
        width: 100%;
    }

    #plus_populaire{
        margin-top: 3.125rem;
        width: 100%;
        height: 18rem;
        justify-content: space-evenly;

    }

    #tableau_populaire{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60%;
    }

    .carte_populaire{
        width: 29%;
    }


    #activite_marseille{
        margin-top: 1rem;
        height: 26rem;
    }
    .activité img{
        height: 80%;
    }
    .activité h3{
        height: 20%;
    }
}



/*Responsive Mobile*/



@media screen and (max-width: 768px) {


    header{
        flex-direction: column;
        justify-content: center;
    }
    #logo{
        width: 100%;
        text-align: center;
        margin-top: 1.3rem;
    }

    nav{
        width: 100%;
        align-items: center;
    }


    /*hover nav*/

    #nav_hebergement:hover{
        border-bottom: solid #0065FC;
        border-top: #fcfcfc;
        border-width: 3px;
        font-weight: 500;
    }

    #nav_activite:hover{
        border-bottom: solid #0065FC;
        border-top: #fcfcfc;
        border-width: 3px;
        font-weight: 500;
    }


    /*Recherche*/

    form{
        width: 100%;
    }
    #localisation{
        width: 12%;
    }
    #barre_recherche{
        width: 78%;
    }
    #bouton_recherche{
        width: 12%;
    }
    #localisation button{
        width: 100%;
    }
    #barre_recherche input{
        width: 100%;
    }
    #bouton_recherche button{
        width: 100%;
    }
    #bouton_recherche #txt{
        display: none;
    }
    #bouton_recherche i{
        display: contents;
    }

    /*Filtre*/


    #filtre{
        flex-direction: column;
        align-items: flex-start;
        height: 10rem;
    }
    #filtre_bouton ul{
        flex-direction: column;
        height: 8rem;

    }
    .filtre_mobile{
        justify-content: space-between;
        width: 100%;
    }
    #filtre_bouton li{
        width: 90%;
    }
    .filtre_input{
        width: 100%;
        justify-content: flex-start;
    }
    .filtre_txt_familial_placement{
        justify-content: flex-start;
    }
    .filtre_txt_placement{
        justify-content: flex-start;
    }

    /*Hebergement + populaire*/

    /*populaire*/

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #maison{
        flex-direction: column-reverse;
        align-items: center;
    }
    #plus_populaire{
        margin-top: 0rem;
        height: 36.25rem;
    }
    #header_populaire{
        height: 5%;
        width: 90%;
    }
    #tableau_populaire{
        height: 80%;
        flex-direction: column;
        width: 90%;
    }
    .carte_populaire{
        width: 100%;
    }
    .etoile{
        width: 22%;
    }


    /*hebergement*/

    #hebergement_marseille{
        height: 85rem;
        background-color: #fcfcfc;
        margin-top: 2rem;
        width: 90%;
    }
    #titre_hebergement{
        margin-left: 0px;
    }
    #tableau_hebergement{
        height: 100%;
    }
    #tableau_top{
        flex-direction: column;
        align-items: center;
        height: 50%;
        justify-content: space-evenly;
    }
    #tableau_bot{
        flex-direction: column;
        align-items: center;
        height: 50%;
        justify-content: space-evenly;
    }
    .carte_hebergement{
        width: 100%;
    }
    .referencement_hebergement .etoile{
        width: 13%;
    }
    #afficher_plus{
        display: none;
    }


    /*Activite marseille*/


    #activite_marseille{
        height: 50rem;
        justify-content: space-around;
        width: 90%;
    }
    #Marseille{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 95%;
        margin-top: 0px;
    }
    #Marseille a{
        width: 100%;
        height: 22%;
    }
    .activité img{
        height: 70%;
    }


    /*Footer*/

    footer{
        height: 31rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #fin{
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }
    .foot{
        width: 100%;
    }

}